[maxscale]
threads=4

[idb1]
type=server
address=idb01.billydomain.com
port=3306
protocol=MySQLBackend

[idb2]
type=server
address=idb02.billydomain.com
port=3306
protocol=MySQLBackend

[idb3]
type=server
address=idb03.billydomain.com
port=3306
protocol=MySQLBackend

[idb4]
type=server
address=idb04.billydomain.com
port=3306
protocol=MySQLBackend

[CrossJoinFix1]
type=filter
module=regexfilter
options=ignorecase
match=CROSS JOIN\s*\(\s*SELECT
replace=NATURAL JOIN (SELECT 'gtc_link' gtc_link,
#log_file=/var/log/maxscale/regexfilter.log
#log_trace=true

[CrossJoinFix2]
type=filter
module=regexfilter
options=ignorecase
match=(?s)\(\s*SELECT(.*NATURAL JOIN)
replace=(SELECT  'gtc_link' gtc_link, $1
#log_file=/var/log/maxscale/regexfilter.log
#log_trace=true

[AddDateFix]
type=filter
module=regexfilter
options=ignorecase
match=(date_format.*?%Y-%m-.*?\))
replace=cast($1 as datetime)
#log_file=/var/log/maxscale/regexfilter.log

[SumCount]
type=filter
module=regexfilter
options=ignorecase
match=sum\(1\)
replace=count(*)
#log_file=/var/log/maxscale/regexfilter.log

[NullSafeFix]
type=filter
module=regexfilter
match=<=>
replace==

[Splitter Service]
type=service
router=readconnroute
router_options=running
servers=idb3, idb4, idb1, idb2
user=maxscale
passwd=BA1AF4AF13FCC205D4BB51A0A03D7C3B
filters=NullSafeFix | CrossJoinFix1 | CrossJoinFix2

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=3306
socket=/tmp/ClusterMaster

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default

