[maxscale]
threads=4

[idb1]
type=server
address=idb01.billydomain.com
port=3306
protocol=MySQLBackend

[idb2]
type=server
address=idb02.billydomain.com
port=3306
protocol=MySQLBackend

[idb3]
type=server
address=idb03.billydomain.com
port=3306
protocol=MySQLBackend

[idb4]
type=server
address=idb04.billydomain.com
port=3306
protocol=MySQLBackend

[AddDateFix]
type=filter
module=regexfilter
options=ignorecase
match=(ADDDATE\(\s*DATE_FORMAT\(\s*.*?\).*?\))
replace=cast($1 as datetime)
#log_file=/var/log/maxscale/regexfilter.log

[NullSafeFix]
type=filter
module=regexfilter
match=<=>
replace==

[Splitter Service]
type=service
router=readconnroute
router_options=running
servers=idb3, idb4, idb1, idb2
user=maxscale
passwd=1Xza@5o3hQhKzC7*H8eD
filters=AddDateFix | NullSafeFix

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=3306
socket=/tmp/ClusterMaster

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default

